* { margin: 0; }
.container{
	border-style: solid;
	color: pink;
	border-color: purple;
	padding: 10px 25px 10px 25px
}
#blue {
	color: blue;
}
.text{
	background-color: blueviolet;
	font-family: 'ubuntu', sans-serif;
}
#img1{
	width: 240px;
	height: 135px;
}
#h1cats {
	 background-image: url("../images/15.jpg");
}